@charset "UTF-8";
body
{
    background-color: #FFFFFF;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-image: url(../Media/desktop-backgrounds-nawpic-1.jpeg);
}
#main1 #main2 iframe {
    width: 50%;
    margin-left: 250px;
}
#main1 #main2 figure {
    text-align: center;
    font-family: andika;
    font-style: normal;
    font-weight: 400;
}
#main1 #main2 #imgC {
    margin-left: 100px;
}
#main1 {
    background-color: #9FBEE8;
    margin-right: auto;
    margin-left: auto;
    min-width: 1000px;
    max-width: 1000px;
}
#main1 #head h1 {
    opacity: 1;
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 0px 0px;
    color: #FFFFFF;
    background-color: #152659;
    font-family: alice;
    font-style: normal;
    font-weight: 400;
}
#nav ul {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
	margin-left: 0px;
}

#nav ul li a {
    float: left;
    width: 20%;
    background-color: #152659;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: table;
    clear: none;
    font-size: 25px;
    font-family: alice;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
#main1 #main2 p1 {
    font-family: andika;
    font-style: normal;
    font-weight: 400;
    font-size: large;
    white-space: pre-line;
}
#nav a:hover, #navigation a:focus  , #navigation a.thispage, #navigation a:active{
    background-color: #6C7FB8;
    text-decoration: none;
}
#main1 #main2 .IMG1 {
    text-align: center;
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    opacity: 1;
    border-color: #000000;
    float: left;
}
#main2 .IMG2 img {
    right: 50px;
    left: 50px;
    float: right;
}
#main1 #main2 #img3 {
    display: inline;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
#main1 #main2 h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: andika;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
}
#main1 #main2 p2 {
    font-family: andika;
    font-style: normal;
    font-weight: 400;
    font-size: large;
}
#main1 #main2 p3 {
    font-family: andika;
    font-style: normal;
    font-weight: 400;
    font-size: large;
}
#footer {
    clear: both;
    color: #000000;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2%;
    text-align: center;
}
#main1 #main2 #imgA {
    width: 100%;
    display: inline;
    left: auto;
}
#main1 #main2 h3 {
    text-align: center;
    font-family: andika;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}
#main1 #main2 h4 {
    text-align: center;
    font-size: 40px;
    font-family: andika;
    font-style: normal;
    font-weight: 400;
}
#main1 #main2 video {
    width: 100%;
}
#main1 #main2 table {
    text-align: left;
    font-family: andika;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-left: 250px;
    width: 50%;
}
.text {
    text-align: center;
    font-size: 50px;
    width: 200px;
    height: 100px;
}
.input {
    font-size: large;
}
.img3 {
    margin-left: 120px;
}
.img4 {
    margin-left: 50px;
}
